@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb', normal, normal, woff);
@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb_Bold', bold, normal, woff);
@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb_light', 300, normal, woff);
@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb_Medium', 500, normal, woff);
@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb_Black', 900, normal, woff);
@include font-face(iran-sans, '../fonts/iran-sans/IRANSansWeb_UltraLight', 100, normal, woff);
@include font-face(icon-font, '../fonts/icon-font/icon-font', normal, normal, woff);

[class*="font-weight-"] {
  font-family: iran-sans, $DefaultFonts;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none
}

a {
  color: inherit;

  &:hover {
    color: $color-sun;
    text-decoration: none;

    img {
      opacity: 0.8;
    }
  }
}

html, body {
}

body {
  font-family: iran-sans, $DefaultFonts;
}

[class^="icon-font-"],
[class*=" icon-font-"],
.icon-font-family {
  display: inline-flex;

  &::before,
  &::after {
    font-family: icon-font, $DefaultFonts;
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
  }
}

.dividing-line {
  border-left: 1px solid $color-white;
}

.user-select-noe {
  @include user-select();
}

.outline-none {
  outline: none;
}

.dividing-line {
  border-left: 1px solid #000;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.object-fit-cover {
  object-fit: cover;
}

.none-hover:hover{
  background-color: transparent;
  color: inherit;
}
//==========================================
// line height
//==========================================
.line-height-1 {
  line-height: 1;
}

.line-height-1-2 {
  line-height: 1.2;
}

.line-height-2 {
  line-height: 2;
}

//==========================================
// box shadows
//==========================================
.box-shadow-1 {
  box-shadow: 3px 4px 4px -1px rgba(0, 0, 0, 0.1);
}

.box-shadow-2 {
  box-shadow: -1px 3px 10px 2px rgba(0, 0, 0, 0.04);
}


//==========================================
//text decoration
//==========================================
.text-decoration-underline {
  text-decoration: underline;
}

//==========================================
//font size
//==========================================

.font-size-6 {
  font-size: 6px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-10 {
  font-size: .625rem;
}

.font-size-12 {
  font-size: .75rem;
}

.font-size-14 {
  font-size: .875rem;
}

.font-size-16 {
  font-size: 1rem;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 1.25rem !important;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-45 {
  font-size: 45px;
}

.font-size-85 {
  font-size: 85px;
}

//==========================================
//border
//==========================================

//==========================================
//border radius
//==========================================
.border-radius-10 {
  border-radius: 10px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-30 {
  border-radius: 30px;
}

.border-radius-50 {
  border-radius: 50px !important;
}

.border-radius-top-65 {
  border-radius: 65px 0 0 0;
}

.border-radius-right-65 {
  border-radius: 0 65px 0 0;
}

.border-radius-left-65 {
  border-radius: 0 0 0 65px;
}

.border-radius-bottom-65 {
  border-radius: 0 0 65px 0;
}

//==========================================
//box shadows
//==========================================

.box-shadow-none {
  box-shadow: none !important;
}

//==========================================
//cursors
//==========================================
.cursor-pointer {
  cursor: pointer;
}

//==========================================
//font family
//==========================================

//.font-family-mina {
//  font-family: Mina, $DefaultFonts;
//}

//==========================================
//text transform
//==========================================

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

//==========================================
//colors
//==========================================
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-lochmara {
  color: $color-lochmara;
}

.color-sun {
  color: $color-sun;
}

.color-silver-chalice {
  color: $color-silver-chalice;
}

.color-malachite {
  color: $color-malachite;
}

.color-alabaster {
  color: $color-alabaster;
}

//==========================================
//background colors
//==========================================

.bgc-white {
  background-color: $color-white;
}

.bgc-transparent {
  background-color: $color-transparent;
}

.bgc-black {
  background-color: $color-black;
}

.bgc-lochmara {
  background-color: $color-lochmara;
}

.bgc-sun {
  background-color: $color-sun;
}

.bgc-silver-chalice {
  background-color: $color-silver-chalice;
}

.bgc-malachite {
  background-color: $color-malachite;
}

.bgc-alabaster {
  background-color: $color-alabaster;
}
//==========================================
//icon fonts
//==========================================

.icon-font-login::before {
  content: "\f100";
}

.icon-font-arrow-down::before {
  content: "\f101";
}

.icon-font-category::before {
  content: "\f102";
}

.icon-font-exit::before {
  content: "\f103";
}

.icon-font-hammer::before {
  content: "\f104";
}

.icon-font-close::before {
  content: "\f105";
}

//==========================================
//form control
//==========================================

//==========================================
//black page
//==========================================
.black-page {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 19;
  position: fixed;
  display: none;
}
