//-------------------------------------------
//   variables.scss
//   - font default
//   - colors
//   - numbers
//-----------------------------------------

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;

//===============================================
//colors
//===============================================
$color-transparent: transparent;
$color-white: #fff;
$color-dove-gray-1 : #828282;
$color-dim-gray : #707070;
$color-matterhorn  : #4E4E4E;
$color-gallery : #eee;
$color-alabaster : #f8f8f8;
$color-nobel : #B5B5B5;
$color-gallery-2 : #EBEBEB;
$color-silver : #C2C2C2;
$color-alabaster-2 : #F9F9F9;
$color-white-smoke: #F1F1F1;
$color-gainsboro: #E1E1E1;
$color-black: #000;
$color-tomato: #FE6845;
$color-islamic-green: #0DB413;
$color-green: #008005;
$color-fern: #77AD78;
$color-wild-watermelon: #FB6471;
$color-radical-red: #FA4252;
$color-malachite : #0DB413;
$color-alice-blue : #EEF9FF;
$color-lochmara : #0088cc;
$color-snow : #FBFBFB;
$color-picasso : #FFF29f;
$color-reef : #D2FF9F;


//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;