//-------------------------------------------
//   variables.scss
//   - font default
//   - colors
//   - numbers
//-----------------------------------------

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;

//===============================================
//colors
//===============================================
$color-transparent: transparent;
$color-white: #fff;
$color-black: #000;
$color-lochmara: #0680CC;
$color-sun: #FCAC13;
$color-silver-chalice: #A5A5A5;
$color-malachite: #0DB413;
$color-alabaster: #F8F8F8;


//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;