
body {
  background-color: $color-alabaster;
}

.menu-btn {
  width: 50px;
  height: 50px;
  left: 10px;
  bottom: 10px;
}

.sidebar {
  z-index: 20;
  right: -100%;
  transition: all .5s ease;
  &.active{
    right: 0;
  }

  .logo {
    img {
      width: 150px;
    }

    border-bottom: 2px solid $color-sun;
  }
  @include media-query("(min-width:992px)") {
    > div {
      position: fixed;
    }
  }
  @include media-query("(max-width:991px)") {
    position: fixed;
    height: 100%;
  }

  .accordion-button {
    &:not(.collapsed) {
      .arrow {
        transform: rotate(180deg);
        color: $color-sun;
      }

      color: $color-sun
    }

    box-shadow: none;

    &::after {
      display: none;
    }

    .arrow {
      transition: all .5s ease;
      transform: rotate(0);
    }
  }
}

.content {
  .nav-content {
    width: 100%;
    border: 1px solid $color-alabaster;

    .search-box, .login-box {
      border: 2px solid $color-alabaster;
    }

    .search-box {
      input {
        outline: none;
      }
    }

    .login-box {
      cursor: pointer;
    }

    .btn-group {
      .dropdown-menu{
        min-width: 8.6rem;
      }
    }
  }
}

.rtl{
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
}


