footer {
  border-top: 3px solid $color-radical-red;
  .footer-sidebar-right {
    box-shadow: 0 3px 6px rgba(0 , 0 ,0 ,0.16);
    li {
      i {
        min-width: 41px;
        text-align: center;
      }
      h6{
        padding-left: 10px;
      }
    }
  }
  .footer-content-title {
    border-bottom: 2px solid $color-radical-red;
  }
  .footer-content {
    a {
      &:hover {
        color: $color-radical-red;
      }
    }
  }
}
.rtl{
  footer {
    .footer-sidebar-right {
      li {
        h6 {
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
  }
}