.order-trackings {
  width: 50%;
  background-color: $color-white;
  @include media-query("(max-width: 993px)") {
    width: 90% !important;
  }
  @include media-query("(max-width: 600px)") {
    width: 85% !important;
  }
  .number-order {
    border: 1px solid $color-white-smoke;;
    border-radius: 20px;
    width: 40%;
    margin: 15px auto;
    padding: 15px;
    @include media-query("(max-width: 993px)") {
      width: 90%;
      text-align: center;
    }
  }
  .tracking {
    li {
      h6 {
        @include media-query("(max-width: 600px)") {
          font-size: 8px;
        }
      }
      &.active, &.passed {
        div:first-child {
          img {
            &:last-child {
              display: none;
            }
            &:first-child {
              display: block !important;
            }
          }
        }
      }
    }
    img {
      width: 32px;
      height: 34px;
      @include media-query("(max-width: 600px)") {
        width: 22px;
        height: 27px;
      }
    }
  }
  .product-content {
    .br-widget {
      a::before {
        font-size: 26px;
      }
    }
  }
}

.factor-popup-order {
  table {
    thead {
      th {
        border-top: none;
      }
    }
    tbody {
      tr {
        td {
          border: none;
        }
        &:last-child {
          td {
            border-top: 1px solid $color-white-smoke;
          }
        }
      }
    }
  }
  @include media-query("(max-width: 993px)"){
    .order-trackings {
      width: 100% !important;
      padding:0 !important;
    }
  }
  @include media-query("(max-width: 450px)"){
    table{
      width: 400px !important;
    }
  }
}