.profile {
  textarea {
     height: 200px;
  }
  .container {
    .row {
      .sidebar-right {
        border-left: 1px solid $color-gallery-2;
        @include media-query("(max-width: 767px)") {
          border: 0;
        }
        .header-side {
          .img-profile {
            img {
              width: 80px;
              height: 80px;
              border: 5px solid $color-white-smoke;
              border-radius: 50%;
            }
          }
          .notif-profile {
            i {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: $color-gallery-2;
              cursor: pointer;
              &::after {
                content: "";
                transition: all 0.2s ease;
                position: absolute;
                width: 8px;
                height: 8px;
                right: 7px;
                top: 10px;
                background-color: #FA4252;
                border-radius: 50%;
              }
            }
          }
        }
        .tab-side {
          ul {
            li {
              padding: 15px;
              cursor: pointer;
              color: $color-dove-gray-1;
              &.active {
                width: 100%;
                background-color: #FA4252;
                border-radius: 10px 0 0 10px;
                color: $color-white;
              }
            }
          }
        }
      }
      .profile-main {
        span.mx-2{
          @include media-query("(max-width: 767px)") {
            font-size: 10px;
          }
        }
        .table-parent {
          min-height: 182px;
        }
        > ul {
          > li {
            &:last-child {
              //textarea {
              //  height: 200px;
              //}
            }
            transition: all 0.5s ease;
            visibility: visible;
            position: absolute;
            opacity: 1;
            right: 0;
            overflow: hidden;
            &:not(.active) {
              visibility: hidden;
              opacity: 0;
            }
            .purchase-records-main {
              background-color: $color-white;
              border-radius: 15px;
              height: calc(100% - 63px)
            }
          }
        }
        table {
          @include media-query("(max-width: 600px)") {
            width: 550px !important;
          }
          thead {
            border-bottom: 2px solid $color-white-smoke;
            tr {
              th {
                border: none;
              }
            }
          }
          tbody {
            tr {
              td {
                border: none;
              }
            }
          }
        }
        .custom-radio {
          &.black-radio {
            .custom-control-input:checked ~ .custom-control-label::after {
              right: -1.65rem;
            }
          }
        }
        .avatar-change {
          li {
            cursor: pointer;
            margin: 5px;
            &.active {
              img {
                border-color: $color-radical-red;
              }
            }
            img {
              width: 45px;
              height: 45px;
              border: 3px solid $color-silver;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
  .chat-list {
    li{
      @include media-query("(max-width: 993px)") {
        width:100% !important;
      }
    }
  }
}