.main-support{
  top: -40px;
  &.FAQ{
    ul{
      li{
        &:nth-child(even){
          background-color: $color-alabaster-2;
        }
      }
    }
    .help-popup{
      position: fixed;
      left: 0;
      top: 50%;
      right: 0;
      margin: auto;
      z-index: 99;
      width: 60%;
      min-width: 60%;
      transform: translate(0,-50%);
      display: none;
      height: 70%;
      max-height: 86%;
      .icon-close{
        top: -15px;
        right: -15px;
      }
      .scrollbar-inner{
        height: 100%;
      }
      &.active{
        visibility: visible;
        opacity: 1;
      }
      @include media-query("(max-width:767px)"){
        width: 90%;
      }
    }
  }
  textarea{
    min-height: 200px;
    max-height: 300px;
  }
}