.main-slider{
  &.main-slider{
    .item{
      &.is-selected{
        z-index: 1;
      }
    }
    .slick-dots{
      bottom: 10px;
      li{
        background-color: $color-white;
        opacity:1;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        transition: all .2s ease;
        border-radius: 50%;
        &.slick-active{
          background-color: $color-radical-red;
          border-radius: 20px;
          width: 30px;
        }
      }
    }
    .chevron{
      top: 25px;
      bottom: 0;
      width: 45%;
      background-color: rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      transition: all .2s ease;
      &:hover{
        background-color: rgba(0, 0, 0, 0.22);
      }
      &.chevron-right{
        right: -30%;
      }
      &.chevron-left{
        left: -30%;
      }
    }
  }
}